In [1]:
import pandas as pd
from python_algo.gemini_api import LLM
from python_algo.evaluation import cost_in_out, total_cost, eval_instruction
from python_algo.database_management import question_database_manage
from python_algo.semantic import Semantic_eval
import json

import os

d:\Environments\anaconda\envs\duplicate_bank\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
d:\Environments\anaconda\envs\duplicate_bank\lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [2]:
data_in_path = r"data\question_data3.csv"
database_path = r"data\question_data_full.csv"
data_in = pd.read_csv(r'data\question_data3.csv')
data_base = pd.read_csv(r"data\question_data_full.csv")
Gemini = LLM()
question_database = question_database_manage(Gemini, database_path)

# print(data_base)

metadata_gemini: object
count = 0
cost = 0
list_rank: dict = {}
data_dup = []
list_ins = []

In [ ]:
# info_list = []
# for row in data_in.itertuples():
 
    
#     question_main = {"id": row.id, 
#                      "question_content": row.question_content, 
#                      "ans": row.ans, 
#                      "instruction": row.instruction, #result
#                      "difficulty": None,
#                      "subchapters": row.subchapters, 
#                      "paragraph": row.paragraph,
#                      "spatial_matrix": json.loads(row.spatial_matrix)}
    
#     ranking_result, prompt = question_database.new_ranking_question(question_main,k=40)
#     info = {'id': row.id, 'prompt': prompt}
#     info_list.append(info)

In [4]:
# file_name = 'info_list.json'

# # Write the list to a JSON file
# with open(file_name, 'w') as json_file:
#     json.dump(info_list, json_file)

In [66]:
with open('result\info_list.json') as file:
        prompt_data = json.load(file)

In [4]:

        
        
def append_to_json(file_path, info):
    """Appends a dictionary to a JSON file, creating the file if it doesn't exist.

    Args:
        file_path (str): The path to the JSON file.
        info (dict): The dictionary containing the data to append.
    """

    try:
        if not os.path.exists(file_path):
            # File doesn't exist, create it with an empty list
            with open(file_path, 'w') as json_file:
                json.dump([], json_file) 

        with open(file_path, 'r+') as json_file:
            data = json.load(json_file)
            # Ensure the data is a list (to append items)
            if not isinstance(data, list):
                raise ValueError("JSON file must contain a list")
            
            data.append(info)
            json_file.seek(0)
            json.dump(data, json_file, indent=4)  # Format with indentation
            json_file.truncate()  # Remove any old data after the new content

    except json.JSONDecodeError:
        print(f"Invalid JSON format in: {file_path}")
    except ValueError as e:
        print(e)

In [5]:
file_path = "flash_15_gemini_response_return.json"

In [70]:
#dict_result_return = {}
# save_info_dict = info_dict

In [6]:

count = 0
info_dict = {}
for item in prompt_data:
   
    new_top_score = []
    id_question = item['id']
   
    prompt_pass_to_gemini = item['prompt']
    answer = Gemini.get_completion(prompt_pass_to_gemini )
    process_answer = json.loads(answer)
    info_dict[str(id_question)] = process_answer
    # # process_answer = json.loads(answer.replace('```', '')[4:])
    # # for id, details in process_answer.items():
    # #     new_top_score.append([id, 'none', 'none', details['Level'], details['Reason']])
    
    # # dict_result_return[id_question] = new_top_score
    # #info = {'id': str(id_question), 'llm_result': answer}
    # data[]
    # #append_to_json(file_path, info) 
    # count += 1
    print(str(id_question))

29
35
125
148
149
150
151
152
154
157
169
252
253
254
255
257
258
259
261
262
263
264
265
266
267
272
292
293
294
296
297
298
299
310
314
315
337
340
408
448
504
512
521
536
538
548
553
564
568
581
587
605
607
615
616
619
623
640
644
648
657
658
659
669
677
692
701
703
724
726
727
728
732
740
746
155
156
290
314
318
324
497

In [24]:
# with open('result_return_from_gemini_json.json', 'r') as file:
#     data = json.load(file)
    
with open('full_data.json', 'r') as file:
    data = json.load(file)

In [ ]:

dict_result_return = {}
list_t = []
modify_info = {}
for item in data:
    try:
        new_top_score = []
        print(item)
        #process_answer = json.loads(item['llm_result'])
     
        # for id, details in process_answer.items():
        #     new_top_score.append([id, 'none', 'none', details['Level'], details['Reason']])
        list_t.append(item['id'])
        # dict_result_return[item['id']] = new_top_score
       
        # modify_info[str(item['id'])] = item['llm_result']
      
    except:
        a = 0
        continue

In [7]:
old_list = [key for key in data.keys()]

In [83]:
with open('full_data.json', 'w') as json_file:
    json.dump(data , json_file)

In [87]:
index = ['id', 'real_dup', 'out_dup']
data_dup = pd.DataFrame(data_dup, columns=index)

In [94]:
data_dup = pd.read_csv(r"data\question_dup_count.csv")
def eval_instruction(id, ranking_result):
    count = 0
    for row in ranking_result:
        if id == int(int(row[0])/100):
            print(row[0])
            if row[3] == 1:
                count+=1
                
    total_dup = 0
    for i, row in data_dup.iterrows():
        if row['id'] == id:
            total_dup = row['count_dup']
            break
    return total_dup, count

print(eval_instruction(29, dict_result_return[29]))

2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
2901
2902
2903
2904
2905
2906
2907
(7, 1494)

In [11]:
first_id = data_base['id'].to_list()

In [13]:
second_in = data_in['id'].to_list()

In [14]:
first_id = [str(id) for id in first_id]
second_in = [str(id) for id in second_in]

In [15]:
import pandas as pd

def create_matrix_dataframe(ids1, ids2):
  """
  Creates a DataFrame with an 'id' column containing ids1, and other columns from ids2.
  Initially, all DataFrame elements (except 'id') are set to 0.

  Args:
      ids1: A list of unique IDs.
      ids2: Another list of unique IDs.

  Returns:
      A Pandas DataFrame with an 'id' column and columns corresponding to ids2.
  """

  # Create a DataFrame with ids2 as columns, filled with 0s
  df = pd.DataFrame(0, index=range(len(ids1)), columns=ids2)

  # Add the 'id' column with values from ids1
  df.insert(0, 'id', ids1) 

  return df



result_df = create_matrix_dataframe(first_id, second_in)

# Print the DataFrame
print(result_df)

        id  29  35  125  148  149  150  151  152  154  ...  732  740  746  \
0       29   0   0    0    0    0    0    0    0    0  ...    0    0    0
1       35   0   0    0    0    0    0    0    0    0  ...    0    0    0
2      125   0   0    0    0    0    0    0    0    0  ...    0    0    0
3      148   0   0    0    0    0    0    0    0    0  ...    0    0    0
4      149   0   0    0    0    0    0    0    0    0  ...    0    0    0
..     ...  ..  ..  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
289  70302   0   0    0    0    0    0    0    0    0  ...    0    0    0
290  70303   0   0    0    0    0    0    0    0    0  ...    0    0    0
291  74001   0   0    0    0    0    0    0    0    0  ...    0    0    0
292  74002   0   0    0    0    0    0    0    0    0  ...    0    0    0
293  74003   0   0    0    0    0    0    0    0    0  ...    0    0    0

     155  156  290  314  318  324  497
0      0    0    0    0    0    0    0
1      0    0    0    0    0    0    0
2      0    0    0    0    0    0    0
3      0    0    0    0    0    0    0
4      0    0    0    0    0    0    0
..   ...  ...  ...  ...  ...  ...  ...
289    0    0    0    0    0    0    0
290    0    0    0    0    0    0    0
291    0    0    0    0    0    0    0
292    0    0    0    0    0    0    0
293    0    0    0    0    0    0    0

[294 rows x 83 columns]

In [16]:
data = info_dict
for key in data.keys():
    for second_key in data[key].keys():
        try:
            result_df.loc[result_df['id'] == second_key, key] = data[key][second_key]['Level']
        except KeyError as e:
            print(f"KeyError: {e}. second_key={second_key}, key={key}")
        except Exception as e:
            print(f"An unexpected error occurred: {e}. second_key={second_key}, key={key}")

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_19304\1559459829.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result_df.loc[result_df['id'] == second_key, key] = data[key][second_key]['Level']
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_19304\1559459829.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result_df.loc[result_df['id'] == second_key, key] = data[key][second_key]['Level']
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_19304\1559459829.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result_df.loc[result_df['id'] == second_key, key] = data[key][second_key]['Level']
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_19304\1559459829.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result_df.loc[result_df['id'] == second_key, key] = data[key][second_key]['Level']
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_19304\1559459829.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result_df.loc[result_df['id'] == second_key, key] = data[key][second_key]['Level']
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_19304\1559459829.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result_df.loc[result_df['id'] == second_key, key] = data[key][second_key]['Level']
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_19304\1559459829.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result_df.loc[result_df['id'] == second_key, key] = data[key][second_key]['Level']
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_19304\1559459829.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result_df.loc[result_df['id'] == second_key, key] = data[key][second_key]['Level']
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_19304\1559459829.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result_df.loc[result_df['id'] == second_key, key] = data[key][second_key]['Level']
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_19304\1559459829.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result_df.loc[result_df['id'] == second_key, key] = data[key][second_key]['Level']
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_19304\1559459829.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result_df.loc[result_df['id'] == second_key, key] = data[key][second_key]['Level']
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_19304\1559459829.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result_df.loc[result_df['id'] == second_key, key] = data[key][second_key]['Level']
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_19304\1559459829.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result_df.loc[result_df['id'] == second_key, key] = data[key][second_key]['Level']
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_19304\1559459829.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result_df.loc[result_df['id'] == second_key, key] = data[key][second_key]['Level']
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_19304\1559459829.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result_df.loc[result_df['id'] == second_key, key] = data[key][second_key]['Level']
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_19304\1559459829.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result_df.loc[result_df['id'] == second_key, key] = data[key][second_key]['Level']
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_19304\1559459829.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result_df.loc[result_df['id'] == second_key, key] = data[key][second_key]['Level']
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_19304\1559459829.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result_df.loc[result_df['id'] == second_key, key] = data[key][second_key]['Level']
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_19304\1559459829.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result_df.loc[result_df['id'] == second_key, key] = data[key][second_key]['Level']
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_19304\1559459829.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result_df.loc[result_df['id'] == second_key, key] = data[key][second_key]['Level']
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_19304\1559459829.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result_df.loc[result_df['id'] == second_key, key] = data[key][second_key]['Level']
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_19304\1559459829.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result_df.loc[result_df['id'] == second_key, key] = data[key][second_key]['Level']
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_19304\1559459829.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result_df.loc[result_df['id'] == second_key, key] = data[key][second_key]['Level']
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_19304\1559459829.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result_df.loc[result_df['id'] == second_key, key] = data[key][second_key]['Level']
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_19304\1559459829.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result_df.loc[result_df['id'] == second_key, key] = data[key][second_key]['Level']
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_19304\1559459829.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result_df.loc[result_df['id'] == second_key, key] = data[key][second_key]['Level']
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_19304\1559459829.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result_df.loc[result_df['id'] == second_key, key] = data[key][second_key]['Level']
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_19304\1559459829.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result_df.loc[result_df['id'] == second_key, key] = data[key][second_key]['Level']
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_19304\1559459829.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result_df.loc[result_df['id'] == second_key, key] = data[key][second_key]['Level']
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_19304\1559459829.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result_df.loc[result_df['id'] == second_key, key] = data[key][second_key]['Level']
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_19304\1559459829.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result_df.loc[result_df['id'] == second_key, key] = data[key][second_key]['Level']
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_19304\1559459829.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result_df.loc[result_df['id'] == second_key, key] = data[key][second_key]['Level']
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_19304\1559459829.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result_df.loc[result_df['id'] == second_key, key] = data[key][second_key]['Level']
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_19304\1559459829.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result_df.loc[result_df['id'] == second_key, key] = data[key][second_key]['Level']
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_19304\1559459829.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result_df.loc[result_df['id'] == second_key, key] = data[key][second_key]['Level']
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_19304\1559459829.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result_df.loc[result_df['id'] == second_key, key] = data[key][second_key]['Level']
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_19304\1559459829.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result_df.loc[result_df['id'] == second_key, key] = data[key][second_key]['Level']
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_19304\1559459829.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result_df.loc[result_df['id'] == second_key, key] = data[key][second_key]['Level']
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_19304\1559459829.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result_df.loc[result_df['id'] == second_key, key] = data[key][second_key]['Level']
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_19304\1559459829.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result_df.loc[result_df['id'] == second_key, key] = data[key][second_key]['Level']
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_19304\1559459829.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result_df.loc[result_df['id'] == second_key, key] = data[key][second_key]['Level']
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_19304\1559459829.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result_df.loc[result_df['id'] == second_key, key] = data[key][second_key]['Level']
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_19304\1559459829.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result_df.loc[result_df['id'] == second_key, key] = data[key][second_key]['Level']
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_19304\1559459829.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result_df.loc[result_df['id'] == second_key, key] = data[key][second_key]['Level']
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_19304\1559459829.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result_df.loc[result_df['id'] == second_key, key] = data[key][second_key]['Level']
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_19304\1559459829.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result_df.loc[result_df['id'] == second_key, key] = data[key][second_key]['Level']
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_19304\1559459829.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result_df.loc[result_df['id'] == second_key, key] = data[key][second_key]['Level']
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_19304\1559459829.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result_df.loc[result_df['id'] == second_key, key] = data[key][second_key]['Level']
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_19304\1559459829.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result_df.loc[result_df['id'] == second_key, key] = data[key][second_key]['Level']
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_19304\1559459829.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result_df.loc[result_df['id'] == second_key, key] = data[key][second_key]['Level']
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_19304\1559459829.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result_df.loc[result_df['id'] == second_key, key] = data[key][second_key]['Level']
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_19304\1559459829.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result_df.loc[result_df['id'] == second_key, key] = data[key][second_key]['Level']
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_19304\1559459829.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result_df.loc[result_df['id'] == second_key, key] = data[key][second_key]['Level']
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_19304\1559459829.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.

In [17]:
result_df.to_csv('gemini_flash_15_prompt_modify.csv')

In [87]:
with open('prompt_modify.json', 'w') as json_file:
    json.dump(info_list , json_file)

In [8]:
with open('full_data_gemini_flash.json', 'w') as json_file:
    json.dump(info_dict, json_file)

In [1]:
import pandas as pd

In [27]:
compare = pd.read_csv(r"D:\User_2\Downloads\output (1).csv")

In [28]:
compare

     id  real_dup  out_dup                                        related_ids
0    29         6        6  ['29', '148', '255', '2901', '2902', '2903', '...
1    35         4        4             ['35', '3501', '3502', '3503', '3504']
2   125         4        0                                            ['125']
3   148         5        5  ['29', '148', '255', '2901', '2902', '2903', '...
4   149         4        4        ['149', '14901', '14902', '14903', '14904']
..  ...       ...      ...                                                ...
77  290         3        0                                            ['290']
78  314         2        3                 ['314', '314.1', '31401', '31402']
79  318         3        3  ['265', '318', '26501', '26502', '26503', '318...
80  324         3        0                                            ['324']
81  497         3        3          ['727', '497', '49701', '49702', '49703']

[82 rows x 4 columns]

In [29]:
compare[compare['real_dup'] != compare['out_dup']]

     id  real_dup  out_dup                                  related_ids
2   125         4        0                                      ['125']
7   152         6        4  ['152', '15201', '15202', '15205', '15206']
10  169         7        0                                      ['169']
12  253         5        4  ['253', '25301', '25302', '25303', '25304']
17  259         3        0                                           []
19  262         3        0                                      ['262']
25  272         3        0                                      ['272']
27  293         2        0                                      ['293']
29  296         3        0                                      ['296']
30  297         3        0                                      ['297']
32  299         3        0                                      ['299']
33  310         3        0                                      ['310']
34  314         2        3           ['314', '314.1', '31401', '31402']
37  340         3        0                                      ['340']
38  408         3        2      ['408', '564', '726', '40801', '40802']
41  512         1        0                                      ['512']
45  548         2        0                                           []
53  615         3        2                    ['615', '61501', '61502']
75  155         3        0                                      ['155']
77  290         3        0                                      ['290']
78  314         2        3           ['314', '314.1', '31401', '31402']
80  324         3        0                                      ['324']

In [10]:
len(compare[compare['real_dup'] != compare['out_dup']])

18

In [3]:
label = pd.read_csv(r"D:\User_2\Downloads\duplicate_matrix_chapter4 - label_80_300 (1).csv")
label = label.drop(columns=['Unnamed: 0'])
pro15 = pd.read_csv(r"result\gemini_pro_15_first_prompt\gemini_15_prompt_modify.csv")
pro15 = pro15.drop(columns=['Unnamed: 0'])

In [4]:
def compare_dataframes_with_labels(df1, df2):
  """
  Compares a "predict" DataFrame against a "label" DataFrame,
  highlighting differences with original and predicted values.

  Args:
      df1: The "predict" DataFrame.
      df2: The "label" DataFrame.

  Returns:
      A DataFrame detailing the differences.
  """

  # Ensure DataFrames have the same shape
  if df1.shape != df2.shape:
    raise ValueError("DataFrames must have the same shape for comparison.")


  # Calculate the difference
  difference_df = df1.ne(df2)

  # Get indices of differing elements
  diff_indices = difference_df.stack()[difference_df.stack()].index.tolist()

  # Create a DataFrame to store the results
  result_data = []
  for row, col in diff_indices:
    result_data.append({
        'Row': row,
        'Column': col,
        'Original Value (Label)': df2.loc[row, col],
        'Predicted Value (Predict)': df1.loc[row, col]
    })

  result_df = pd.DataFrame(result_data)

  return result_df

# Example usage (replace with your actual DataFrames)

In [116]:
list_id = pro15['id'].to_list()
result = compare_dataframes_with_labels(pro15, label)
def convert_row(num, list_id):
    value = str(list_id[num])
    return value
result['row'] = result['Row'].apply(lambda x: convert_row(x, list_id))

In [117]:

result = result[['row', 'Column', 'Original Value (Label)', 'Predicted Value (Predict)']]

In [64]:
data['150']['150']

{'Level': '0', 'Reason': 'The question is identical to the original question.'}

In [3]:
question_data3 = pd.read_csv('data\question_data3.csv')

In [ ]:
import ast
question_content = question_data3[question_data3["id"] == 259]

question_content_add = {"id": question_content['id'].iloc[0], "question_content": question_content["question_content"].iloc[0], "ans": question_content["ans"].iloc[0], "difficulty": None,"spatial_matrix": ast.literal_eval(question_content['spatial_matrix'].iloc[0])}

question_database.search_spatial(question_content_add)

In [6]:
flash15 = pd.read_csv(r'result\gemini_flash_15_first_prompt\gemini_flash_15_prompt_modify.csv')
flash15 = flash15.drop(columns=['Unnamed: 0'])
grit_result = pd.read_csv(r"D:\User_2\Downloads\GRIT.csv")
#flan_result = pd.read_csv(r"D:\User_2\Downloads\LLM_Final.csv")
result = {}
df = grit_result.copy()
# Iterate through columns (excluding 'id')
for col in df.columns:
    if col != 'id':
        # Get indices where the value is 1
        indices_with_one = df[df[col] == 1].index
        # Append corresponding 'id' values to the result dictionary
      
        result[col] = df.loc[indices_with_one, 'id'].tolist()

print(result)

{'29': [29], '35': [35], '125': [125], '148': [148], '149': [149], '150': [], '151': [151], '152': [152], '154': [154], '157': [157], '169': [], '252': [252], '253': [253], '254': [254], '255': [255], '257': [], '258': [], '259': [], '261': [261], '262': [262], '263': [263], '264': [], '265': [], '266': [266], '267': [267], '272': [272], '292': [292], '293': [], '294': [294], '296': [], '297': [297], '298': [298], '299': [], '310': [310], '314': [], '315': [315], '337': [337], '340': [], '408': [408], '448': [448], '473': [], '504': [504], '512': [], '521': [521], '536': [536], '538': [538], '548': [548], '553': [], '564': [], '568': [568], '581': [581], '587': [587], '605': [605], '607': [607], '615': [615], '616': [616], '619': [619], '623': [623], '640': [640], '644': [], '648': [648], '657': [657], '658': [658], '659': [659], '669': [], '677': [677], '692': [692], '701': [701], '703': [703], '724': [724], '726': [726], '727': [], '728': [728], '732': [732], '740': [740], '746': [746], '155': [], '156': [156], '290': [290], '318': [], '324': [], '497': [497], '2901': [], '2902': [], '2903': [], '2904': [], '2905': [], '2906': [], '2907': [], '3501': [], '3502': [], '3503': [], '3504': [], '12501': [], '12502': [], '12503': [], '12504': [], '14801': [], '14802': [], '14803': [], '14804': [], '14805': [], '14901': [], '14902': [], '14903': [], '14904': [], '15001': [], '15002': [], '15003': [], '15004': [], '15101': [], '15102': [], '15103': [], '15104': [], '15105': [], '15106': [], '15201': [], '15202': [], '15203': [], '15204': [], '15205': [], '15206': [], '15401': [], '15402': [], '15403': [], '15501': [], '15502': [], '15503': [], '15601': [], '15602': [], '15603': [], '15604': [], '15605': [], '15606': [], '15607': [], '15701': [], '15702': [], '15703': [], '15704': [], '15705': [], '15706': [], '15707': [], '16901': [], '16902': [], '16903': [], '16904': [], '16905': [], '16906': [], '16907': [], '25201': [], '25202': [], '25203': [], '25204': [], '25205': [], '25206': [], '25207': [], '25301': [], '25302': [], '25303': [], '25304': [], '25305': [], '25401': [], '25402': [], '25403': [], '25404': [], '25501': [], '25502': [], '25503': [], '25504': [], '25701': [], '25702': [], '25703': [], '25801': [], '25802': [], '25803': [], '25901': [], '25902': [], '25903': [], '26101': [], '26102': [], '26103': [], '26201': [], '26202': [], '26203': [], '26301': [], '26302': [], '26303': [], '26401': [], '26402': [], '26403': [], '26501': [], '26502': [], '26503': [], '26601': [], '26602': [], '26603': [], '26701': [], '26702': [], '26703': [], '27201': [], '27202': [], '27203': [], '29001': [], '29002': [], '29003': [], '29201': [], '29202': [], '29203': [], '29301': [], '29302': [], '29401': [], '29402': [], '29403': [], '29601': [], '29602': [], '29603': [], '29701': [], '29702': [], '29703': [], '29901': [], '29902': [], '29903': [], '31001': [], '31002': [], '31003': [], '31401': [], '31402': [], '31501': [], '31502': [], '31503': [], '31801': [], '31802': [], '31803': [], '32401': [], '32402': [], '32403': [], '33701': [], '33702': [], '33703': [], '34001': [], '34002': [], '34003': [], '40801': [], '40802': [], '40803': [], '44801': [], '44802': [], '47301': [], '47302': [], '49701': [], '49702': [], '49703': [], '51201': [], '52101': [], '52102': [], '54801': [], '54802': [], '55301': [], '55302': [], '55303': [], '56801': [], '56802': [], '56803': [], '58101': [], '58102': [], '60501': [], '60502': [], '60503': [], '60701': [], '60702': [], '60703': [], '61501': [], '61502': [], '61503': [], '61601': [], '61602': [], '61603': [], '61901': [], '61902': [], '61903': [], '64001': [], '64002': [], '64003': [], '65701': [], '69201': [], '69202': [], '69203': [], '70301': [], '70302': [], '70303': [], '74001': [], '74002': [], '74003': []}

In [17]:

df = qra_result.copy()
result= {}

for index, row in df.iterrows():
    key = str(int(row['id']))
    result[key] = []
    for col_name in df.columns:
        #if col_name != 'id' and row[col_name] == 1:
        if col_name != 'id' and row[col_name] >= 0.5:
            result[key].append(int(col_name))

print(result)

{'29': [29, 125, 148, 252, 255, 294, 310, 473, 648, 703, 156, 2901, 2902, 2903, 2904, 2905, 2906, 14801, 14804, 14805, 14901, 15003, 15202, 15402, 15503, 15606, 15702, 25201, 25202, 25402, 25501, 25502, 25503, 25504, 25701, 26303, 26501, 26703, 27202, 29601, 29902, 31401, 31402, 44801, 56801, 64003, 70303], '35': [29, 35, 149, 157, 257, 298, 340, 473, 521, 548, 692, 728, 3502, 3503, 12504, 14904, 15002, 15205, 15501, 15606, 15702, 16903, 16905, 25801, 26101, 26603, 27201, 31001, 31402, 31502, 33702, 40803, 47302, 49703, 55301, 56801, 60503, 60702, 61502, 69201, 69202, 69203, 70303, 74001], '125': [125, 152, 253, 255, 257, 521, 568, 581, 640, 659, 724, 155, 324, 3503, 3504, 12502, 14805, 15203, 15206, 15402, 25201, 25404, 25802, 26101, 26401, 26701, 29002, 29201, 29401, 29603, 29703, 29901, 34003, 49701, 55302, 55303, 60501, 61502, 64001], '148': [29, 125, 148, 255, 261, 314, 315, 340, 512, 536, 548, 587, 658, 726, 732, 746, 2901, 2902, 2903, 2904, 2905, 2906, 12504, 14801, 14802, 14803, 14804, 14805, 15104, 15105, 15206, 15402, 15503, 15701, 15704, 16904, 25201, 25301, 25302, 25402, 25501, 25502, 25503, 25504, 26202, 29002, 29201, 29403, 34001, 44801, 49702, 52102, 61503, 61601, 61902, 64001, 70301], '149': [35, 149, 157, 264, 267, 293, 294, 297, 310, 315, 512, 616, 659, 727, 728, 12501, 14901, 14903, 14904, 15202, 15205, 15705, 15706, 25304, 25402, 25802, 26403, 26602, 26701, 27203, 29001, 29202, 29203, 29402, 29603, 29701, 31001, 40803, 58102, 60501, 74001, 74003], '150': [254, 255, 293, 536, 581, 605, 615, 640, 659, 669, 726, 728, 3503, 12501, 12502, 12503, 14803, 15001, 15002, 15003, 15004, 15102, 15203, 15402, 15601, 15703, 16906, 25202, 25402, 25501, 26101, 26202, 26203, 26302, 26401, 26702, 29703, 29903, 33702, 33703, 51201, 54801, 54802, 60502, 60702, 65701, 69201, 70302], '151': [149, 157, 253, 261, 298, 315, 448, 615, 623, 640, 648, 724, 2904, 12503, 14802, 14804, 15001, 15101, 15102, 15103, 15105, 15106, 15205, 15501, 15707, 16906, 25201, 25204, 25207, 25301, 25504, 25803, 26501, 26503, 29402, 32401, 34002, 44801, 44802, 47302, 49702, 54802, 60702, 61901, 61903], '152': [35, 125, 152, 252, 261, 536, 553, 564, 607, 703, 156, 12503, 12504, 14802, 15004, 15201, 15202, 15205, 15206, 15501, 15503, 15604, 15607, 15701, 15704, 15705, 15706, 16904, 25207, 25305, 25702, 26103, 26202, 26401, 26502, 26703, 27202, 29003, 29202, 29701, 29903, 31503, 32403, 40801, 44802, 47302, 56802, 60502, 61501, 65701, 74002], '154': [35, 152, 154, 257, 258, 272, 310, 315, 623, 640, 740, 155, 2905, 14802, 14904, 15002, 15206, 15401, 15403, 15603, 15703, 16905, 25702, 26103, 26403, 29002, 29901, 32401, 33703, 52101, 54801, 55302, 60501, 64003, 74002], '157': [29, 125, 148, 262, 265, 310, 607, 658, 318, 324, 2901, 14802, 14804, 15002, 15105, 15701, 15702, 15703, 15704, 15705, 15706, 15707, 25201, 25202, 25302, 25401, 25701, 25803, 25902, 26401, 26402, 26701, 26703, 29203, 29603, 29902, 31001, 31503, 47301, 49703, 54801, 60502, 70301, 74003], '169': [169, 310, 512, 538, 548, 553, 615, 658, 2901, 3502, 12503, 14901, 14902, 14903, 14904, 15104, 15201, 15202, 16907, 25205, 25502, 25801, 26102, 26103, 26201, 26202, 26403, 26701, 32403, 34001, 34003, 52102, 58101, 60703, 61602, 61603, 61903, 74001, 74002], '252': [35, 151, 169, 252, 292, 298, 315, 619, 692, 724, 728, 732, 2903, 2906, 3501, 12502, 15205, 15206, 15503, 15602, 15702, 15706, 16906, 25201, 25202, 25203, 25204, 25205, 25206, 25207, 25305, 25403, 25701, 25902, 26701, 29702, 31001, 47301, 47302, 55302, 61601, 61602, 61901, 69201, 69202], '253': [29, 152, 253, 254, 261, 408, 548, 564, 587, 605, 640, 644, 677, 701, 740, 2902, 3501, 3502, 12502, 12504, 14805, 15003, 15104, 15202, 15206, 15501, 15503, 15603, 15606, 15607, 25301, 25302, 25303, 25501, 25701, 25903, 26701, 29003, 29202, 31003, 31502, 32402, 32403, 49703, 52101, 55301, 58102, 60701, 61601, 64001, 70302, 74003], '254': [149, 253, 255, 266, 298, 581, 605, 607, 616, 726, 727, 318, 497, 2907, 3504, 14904, 15003, 15004, 15201, 15702, 15705, 25401, 25403, 25404, 25501, 25701, 25803, 25901, 26203, 26401, 29403, 31802, 44802, 47301, 49702, 54801, 56802, 60702, 60703, 64002, 69203], '255': [29, 148, 252, 255, 262, 267, 473, 521, 553, 640, 318, 324, 2901, 2902, 2904, 2906, 3503, 14801, 14802, 14803, 14805, 15501, 15605, 16902, 16904, 16906, 25403, 25501, 25502, 25503, 25504, 25901, 26402, 29002, 29603, 29701, 29901, 29903, 40802, 49703, 56801, 56803, 60502, 60702, 61503, 61901, 69202], '257': [252, 253, 257, 263, 266, 296, 299, 340, 564, 619, 658, 659, 14801, 15002, 15104, 15203, 15401, 16903, 25207, 25301, 25502, 25504, 25701, 25702, 25703, 26302, 26602, 27202, 29001, 29002, 29302, 29703, 29902, 32402, 33701, 40801, 55302, 56803, 60501, 61502, 70302], '258': [148, 149, 264, 294, 504, 607, 619, 640, 648, 155, 497, 3502, 3504, 14901, 15204, 15501, 15502, 15503, 15701, 15702, 16901, 16902, 25205, 25305, 25403, 25501, 25502, 25702, 25801, 25802, 25803, 25902, 25903, 26302, 26503, 29002, 31503, 47301, 55301, 58101, 61603], '259': [150, 157, 169, 254, 294, 299, 315, 553, 568, 640, 746, 497, 14804, 14903, 15003, 15104, 15201, 15204, 15206, 15501, 15502, 15602, 15702, 15705, 16905, 16906, 25205, 25303, 25503, 25801, 26201, 26403, 29202, 29601, 29902, 31802, 49702, 60501, 60701, 64002], '261': [154, 261, 265, 267, 294, 315, 408, 605, 616, 703, 290, 12502, 14803, 14805, 14904, 15601, 15703, 16902, 25303, 25305, 26101, 26301, 26501, 26701, 29003, 29301, 29901, 29903, 31401, 31803, 33702, 40803, 47301, 60502, 60503, 60703, 61603, 69202, 70301, 74001], '262': [152, 262, 272, 292, 408, 448, 473, 538, 548, 568, 640, 644, 740, 290, 3503, 15104, 15606, 15702, 16902, 16907, 25302, 25503, 25703, 25802, 26301, 26503, 29702, 31001, 31801, 32401, 32402, 47301, 49701, 52102, 54802, 56802, 58101, 61603], '263': [292, 337, 408, 512, 521, 536, 568, 581, 587, 657, 659, 669, 740, 746, 290, 2905, 3501, 3502, 15105, 15204, 15401, 15403, 15503, 15604, 15702, 15704, 25203, 25502, 25701, 25801, 26103, 26201, 26301, 26302, 26303, 29201, 29202, 29203, 29301, 29401, 29601, 29703, 29902, 32402, 34003, 47302, 49703, 52101, 52102, 55302, 56801, 56802, 56803, 58101, 58102, 60503, 60701, 60702, 60703, 61902, 64003, 70302], '264': [264, 266, 298, 553, 605, 648, 677, 290, 2905, 2906, 14902, 15501, 15502, 15703, 15704, 16907, 25201, 25304, 25801, 26102, 26401, 26402, 26501, 29202, 29402, 31002, 31803, 34003, 47302, 55301, 55302, 55303, 61903], '265': [257, 264, 294, 504, 521, 553, 607, 615, 616, 648, 677, 727, 728, 156, 14901, 14903, 15104, 15601, 15603, 15604, 15605, 15606, 15607, 15704, 15707, 16904, 16905, 25503, 25701, 25702, 25803, 26203, 26401, 26402, 26403, 26502, 29301, 31801, 31802, 31803, 33702, 52101, 54802, 55301, 55302, 55303, 56801, 65701, 69202], '266': [262, 266, 298, 536, 640, 746, 318, 2906, 15102, 15105, 15106, 15402, 15606, 16902, 25802, 26201, 26202, 26203, 26601, 26602, 26603, 29601, 29602, 29702, 31802, 64001], '267': [125, 148, 255, 257, 262, 265, 521, 548, 659, 677, 727, 2904, 3501, 14801, 14804, 15703, 15706, 16902, 25203, 25301, 25302, 25401, 25701, 25703, 25801, 25902, 26201, 26302, 26701, 26702, 26703, 29301, 29603, 29901, 31002, 31501, 31802, 33701, 34002, 40802, 47302, 55301, 60503, 74002], '272': [150, 254, 263, 265, 272, 294, 310, 521, 587, 619, 640, 726, 732, 15002, 15201, 15607, 15707, 25301, 25304, 25402, 25504, 26102, 26703, 29203, 29401, 29902, 32402, 40803, 44801, 60503, 60701, 61502, 69202, 74001, 74003], '292': [253, 257, 259, 263, 568, 607, 658, 2901, 2903, 3503, 15204, 15605, 15702, 15703, 25201, 25205, 25207, 25302, 25404, 25902, 25903, 26203, 26301, 26302, 26303, 26501, 26503, 26601, 27202, 29201, 29202, 29203, 29402, 29902, 29903, 31502, 31802, 34001, 40801, 40803, 56802, 56803, 58101, 60701, 60702, 61902, 64001, 74002], '293': [35, 293, 296, 297, 310, 314, 512, 581, 605, 669, 155, 2906, 12502, 14902, 14903, 15203, 15206, 15606, 15607, 25203, 25303, 25304, 25504, 25701, 29002, 29403, 29703, 29901, 31502, 31503, 31802, 32402, 40802, 44802, 49702, 56801, 56803, 70301, 74003], '294': [35, 257, 259, 292, 294, 299, 340, 538, 732, 740, 155, 497, 15002, 15202, 15204, 15205, 15705, 16902, 25701, 25901, 25902, 29001, 29201, 29202, 29401, 29402, 29403, 29901, 29902, 29903, 31001, 31002, 33703, 34002, 40803, 47301, 55302, 60502, 60503, 60701], '296': [29, 149, 152, 157, 267, 296, 337, 536, 701, 156, 2901, 3504, 15101, 15104, 15206, 15702, 25201, 25207, 25301, 25701, 26201, 26401, 26402, 27201, 29002, 29003, 31503, 32401, 33702, 33703, 34001, 52102, 54802, 58102, 60701, 70303], '297': [253, 294, 297, 340, 521, 536, 548, 564, 581, 619, 703, 724, 732, 746, 155, 290, 2902, 2904, 12502, 14803, 14902, 15003, 15403, 16907, 25305, 25902, 26202, 26401, 26402, 26603, 29002, 29301, 29601, 40802, 40803, 44801, 58102, 60701, 60703, 61902, 70301], '298': [29, 262, 292, 298, 314, 448, 553, 497, 2903, 14801, 15403, 15603, 15606, 16904, 25303, 25501, 26302, 26603, 27203, 29003, 29301, 29603, 32403, 34003, 54802, 60503], '299': [35, 148, 150, 152, 262, 299, 607, 640, 3504, 12502, 14802, 14901, 15106, 15503, 16904, 25304, 25402, 25502, 25802, 26301, 26602, 26701, 29202, 29301, 29602, 29701, 31001, 32403, 33702, 61601, 64001, 74001], '310': [255, 258, 272, 299, 408, 473, 640, 740, 497, 2906, 14901, 15703, 15707, 25503, 25903, 26101, 26103, 26401, 26503, 26601, 29402, 31502, 31803, 60503, 60701, 69202], '314': [148, 294, 314, 536, 497, 2901, 3504, 12503, 14802, 14804, 15104, 15201, 15206, 15501, 15703, 25201, 25202, 25301, 25402, 25404, 25902, 26101, 26102, 26201, 26403, 26601, 26602, 29401, 29603, 29903, 31402, 31502, 33702, 40801, 44801, 49702, 56801, 60703, 61901, 69202], '315': [272, 315, 615, 616, 726, 728, 740, 156, 2904, 2906, 14804, 15102, 15206, 15704, 15707, 25502, 25903, 26102, 29003, 29203, 29602, 31501, 31502, 31503, 34003, 40802, 44802, 56801, 58101, 69203, 70303, 74002], '337': [149, 157, 254, 265, 272, 521, 553, 581, 640, 657, 659, 732, 2905, 3501, 14802, 14901, 15604, 15606, 26203, 26402, 29202, 29601, 33702, 33703, 44801, 44802, 49702, 54802, 56802, 60701, 61502, 74002], '340': [35, 255, 297, 340, 408, 548, 615, 616, 657, 3502, 3503, 16901, 25201, 25701, 25802, 26101, 26302, 26401, 26503, 26601, 26602, 29202, 29302, 29603, 29902, 31402, 31501, 31503, 31801, 44801, 44802, 47301, 52102, 56802, 61501, 70303, 74003], '408': [148, 149, 169, 253, 255, 292, 298, 314, 337, 408, 564, 607, 619, 724, 726, 2904, 3504, 12504, 14801, 14804, 14904, 15002, 15004, 15106, 15601, 15701, 16906, 25204, 25503, 25504, 26603, 27201, 27203, 29202, 29701, 29902, 31001, 32401, 40801, 40802, 47301, 56803, 60501, 60701, 61902, 64003, 65701], '448': [148, 253, 254, 261, 299, 448, 623, 703, 746, 156, 15003, 15101, 15102, 15103, 15104, 15105, 15106, 15402, 15703, 15705, 16902, 16904, 25201, 25304, 25401, 25702, 25801, 25902, 26402, 26501, 29201, 29601, 31503, 31801, 32401, 34003, 40803, 44801, 44802, 60503, 74002], '504': [29, 148, 151, 154, 253, 473, 504, 605, 648, 657, 701, 727, 2905, 12503, 14802, 14901, 14902, 15104, 16903, 25201, 25206, 25403, 25702, 25803, 26101, 26103, 26201, 26502, 26503, 26702, 27201, 27202, 27203, 29203, 29301, 29601, 29602, 29603, 29901, 31003, 33701, 34001, 47301, 47302, 54802, 60701, 64002, 74001], '512': [157, 267, 340, 408, 448, 512, 605, 619, 677, 726, 746, 2905, 15001, 15106, 15401, 15402, 15607, 15702, 16907, 25201, 25703, 25902, 26402, 29401, 47301, 70301], '521': [150, 169, 263, 266, 293, 297, 299, 310, 314, 408, 448, 473, 512, 521, 587, 619, 703, 290, 15101, 15102, 15201, 15403, 15502, 16905, 16906, 25202, 25401, 25802, 25902, 25903, 26203, 26303, 26401, 29201, 29903, 31402, 31802, 32401, 33701, 44802, 52101, 52102, 56803, 64002, 65701, 69201, 69203, 74003], '536': [151, 152, 154, 259, 296, 337, 340, 473, 536, 548, 581, 658, 746, 324, 2906, 2907, 3504, 14902, 15003, 15203, 15503, 15704, 16903, 25207, 25501, 25801, 26103, 26402, 26602, 26702, 29203, 31401, 31803, 32401, 32403, 40802, 49702, 52101, 52102, 60501, 61902], '538': [150, 253, 272, 292, 293, 564, 658, 703, 727, 14803, 14804, 14903, 15105, 15201, 15202, 15206, 15601, 15603, 15606, 15607, 15701, 15702, 16907, 25301, 25303, 26501, 27202, 29002, 29302, 29402, 29603, 29903, 31002, 31402, 49702, 58102, 60702, 61501, 61503, 61602, 61903, 70301], '548': [149, 152, 255, 266, 292, 315, 340, 512, 623, 658, 692, 324, 497, 3501, 12503, 14804, 15002, 15601, 15606, 16905, 25302, 25304, 25802, 26101, 26203, 26602, 27202, 29202, 29602, 31402, 31503, 33702, 40802, 47302, 52102, 55303, 61602, 61903, 64003, 70302], '553': [263, 264, 265, 296, 408, 538, 548, 553, 587, 616, 619, 644, 746, 156, 318, 2907, 3504, 15106, 15203, 15204, 15205, 15501, 15601, 15602, 15603, 15604, 15606, 25204, 25205, 25207, 26103, 26203, 26401, 26402, 26403, 26501, 26502, 26503, 29701, 31801, 31802, 31803, 34003, 55301, 55302, 55303, 56801, 60501, 61503, 70303], '564': [253, 255, 265, 266, 298, 408, 448, 473, 536, 564, 659, 692, 726, 727, 156, 14904, 15104, 15502, 15603, 16901, 25203, 26501, 26601, 29201, 29202, 29402, 29702, 40801, 40802, 44801, 54802, 55302, 58101, 58102, 64002], '568': [149, 150, 151, 263, 266, 292, 521, 536, 568, 581, 587, 607, 657, 659, 669, 677, 692, 724, 727, 746, 3503, 3504, 12502, 14805, 15003, 15101, 15104, 15106, 15702, 16902, 16904, 25504, 26202, 26301, 26302, 26303, 26503, 29201, 29202, 29203, 29601, 29603, 31001, 31401, 52101, 52102, 56801, 56802, 56803, 58101, 58102, 60701, 60702, 60703, 61901, 65701, 69203, 70301], '581': [35, 154, 253, 257, 263, 292, 294, 299, 512, 536, 568, 581, 587, 607, 615, 659, 669, 724, 746, 12504, 14803, 15104, 15604, 15607, 16904, 25203, 25301, 25304, 25402, 25702, 25802, 26301, 26302, 26303, 26402, 26601, 29201, 29302, 29702, 29901, 32401, 33702, 51201, 52101, 52102, 56801, 58101, 60701, 60702, 60703, 61502, 61503, 65701], '587': [261, 264, 265, 266, 340, 521, 581, 587, 607, 669, 703, 318, 14801, 14803, 15203, 15604, 15702, 25201, 25503, 25901, 26202, 26702, 29003, 29203, 29402, 29703, 29902, 31003, 31801, 31802, 34003, 47302, 52101, 52102, 56802, 58102, 61503, 65701, 69201, 70303], '605': [148, 252, 263, 265, 521, 538, 553, 605, 648, 724, 2903, 3501, 14802, 15205, 15403, 15501, 25802, 26102, 26402, 26703, 29402, 31401, 31501, 31503, 40803, 47302, 54801, 58102, 60501, 60502, 61502, 61903], '607': [125, 157, 262, 263, 292, 293, 299, 536, 568, 581, 587, 605, 607, 648, 659, 669, 703, 732, 740, 12504, 15105, 15502, 15602, 15604, 15707, 16904, 26302, 26601, 27202, 29201, 29202, 29203, 29702, 31001, 31003, 52101, 52102, 56801, 58101, 60701, 60703, 61603, 61901, 64003, 65701, 70302], '615': [149, 150, 151, 257, 512, 536, 615, 640, 648, 669, 732, 2901, 2906, 12503, 14805, 14901, 15003, 15205, 15607, 15705, 15707, 25503, 25702, 25801, 26203, 26302, 29202, 33703, 44801, 47302, 52102, 54801, 55301, 55302, 58101, 60503, 60703, 61502, 61602, 70301, 74001], '616': [255, 259, 292, 512, 521, 536, 568, 607, 615, 616, 657, 659, 669, 2905, 15004, 15402, 16904, 25201, 25302, 25901, 26203, 26301, 26302, 26303, 26401, 26402, 26603, 26701, 27201, 29002, 29201, 29203, 29401, 31003, 44802, 49703, 52101, 52102, 56801, 56802, 58101, 60701, 60702, 60703, 61501, 61502, 61503, 61601, 61602, 61603, 65701], '619': [255, 261, 340, 504, 512, 536, 564, 619, 701, 724, 155, 290, 318, 2907, 15106, 15206, 15605, 15606, 16901, 16906, 25203, 25301, 25403, 25901, 25902, 26301, 27201, 29001, 32403, 40803, 47301, 61503, 61601, 61602, 61901, 61902, 61903, 70302], '623': [298, 340, 448, 553, 581, 616, 623, 318, 324, 2907, 3502, 12501, 14901, 15103, 15701, 15703, 15706, 15707, 25204, 25402, 25403, 25501, 25801, 26202, 26301, 26501, 26602, 26603, 29702, 33701, 34002, 34003, 44802, 51201, 60501, 61901, 65701, 70301, 74002], '640': [148, 258, 262, 267, 272, 299, 310, 340, 448, 512, 521, 553, 616, 640, 692, 497, 12504, 14902, 15002, 15204, 15601, 15603, 15605, 15607, 25205, 25206, 25303, 25503, 25702, 25802, 26301, 26303, 26401, 29903, 31001, 31002, 31003, 31502, 31802, 34003, 49702, 49703, 56803, 60502, 61903, 64002, 64003, 70302, 74001], '644': [125, 152, 264, 266, 296, 299, 340, 504, 564, 640, 644, 701, 726, 732, 324, 2907, 3504, 15003, 15101, 15203, 15401, 15502, 16907, 25201, 25203, 25207, 25301, 25305, 25702, 26502, 26702, 27201, 29302, 31802, 49702, 51201, 58101, 60503, 69201, 70301], '648': [149, 262, 263, 292, 448, 521, 568, 581, 587, 607, 648, 657, 659, 669, 727, 746, 3502, 3504, 14902, 15103, 15205, 15501, 15603, 15605, 15702, 16901, 16907, 25401, 25801, 25803, 26201, 26301, 26302, 26303, 26501, 29201, 29203, 29401, 29702, 29903, 31803, 32401, 32402, 44802, 52101, 52102, 55303, 56801, 56802, 56803, 58101, 58102, 60502, 60701, 60702, 60703, 61901, 65701, 70303], '657': [148, 169, 265, 297, 521, 536, 568, 581, 587, 607, 615, 640, 659, 669, 727, 740, 746, 155, 2907, 12503, 14903, 15204, 15602, 15607, 15706, 25501, 25702, 26701, 29201, 29202, 29203, 29302, 29901, 31802, 33703, 40803, 47301, 49702, 52101, 52102, 56802, 56803, 58101, 58102, 60501, 60502, 60503, 60701, 60702, 61501, 61502, 61503, 61601, 61602, 61603, 65701], '658': [252, 259, 264, 266, 297, 298, 448, 473, 553, 659, 677, 701, 156, 318, 12504, 14803, 15205, 15206, 15601, 15602, 15603, 15604, 15605, 15606, 15607, 15703, 15704, 15707, 16905, 25201, 25202, 25404, 25503, 26102, 26201, 26202, 26203, 26401, 26403, 26501, 26502, 26503, 26601, 26602, 26703, 29002, 29602, 29701, 29702, 29703, 31001, 31501, 31801, 31802, 31803, 32402, 54801, 55301, 55302, 55303, 58101, 60503, 60702], '659': [263, 264, 266, 292, 296, 512, 521, 536, 568, 581, 607, 648, 657, 658, 659, 669, 701, 732, 746, 2901, 14801, 14804, 14805, 14902, 14904, 15403, 25201, 25202, 25203, 25205, 25207, 25401, 25503, 25701, 25703, 25803, 26301, 26302, 26303, 26501, 27201, 27203, 29201, 29202, 29203, 29302, 29603, 31801, 31802, 34003, 51201, 52101, 52102, 54801, 56801, 56802, 56803, 58101, 58102, 60501, 60701, 60702, 60703, 61502, 65701, 69201, 74003], '669': [258, 263, 296, 297, 310, 340, 512, 521, 536, 538, 553, 605, 607, 616, 640, 657, 659, 669, 746, 324, 12501, 12502, 15205, 15702, 25303, 25304, 25403, 25501, 25801, 25901, 26301, 26302, 27202, 29001, 29201, 29202, 29203, 29403, 31001, 31003, 31802, 47301, 49703, 51201, 52101, 52102, 56801, 56802, 56803, 58101, 58102, 60701, 60702, 61503, 61901, 65701], '677': [150, 253, 259, 298, 521, 581, 587, 677, 724, 3502, 14804, 15002, 15105, 15401, 15602, 15706, 25207, 25401, 25504, 26202, 26401, 26402, 26603, 26703, 29002, 29702, 31003, 31501, 31502, 49701, 55302, 58102, 61501, 61603, 70302], '692': [253, 262, 266, 536, 605, 607, 623, 692, 728, 14803, 14901, 15402, 15502, 15602, 16902, 25206, 25501, 26303, 26701, 26702, 29003, 29603, 29702, 31002, 32401, 51201, 54801, 54802, 58102, 69201, 69202, 69203], '701': [29, 35, 252, 253, 254, 255, 265, 266, 267, 473, 564, 619, 669, 701, 15002, 15003, 15203, 15402, 15603, 15703, 15705, 16906, 25304, 25702, 27203, 29001, 29703, 29901, 31002, 31402, 31803, 55303, 60502, 61601, 61902, 61903, 64001, 65701], '703': [35, 299, 337, 340, 538, 568, 587, 659, 703, 2902, 15003, 15004, 15203, 15401, 15403, 15603, 15706, 15707, 25402, 25503, 25901, 25902, 26102, 26202, 26703, 29003, 29402, 29703, 29902, 31002, 31803, 47302, 52101, 61901, 64001, 69201, 70301, 70302, 70303], '724': [149, 272, 299, 310, 548, 553, 581, 605, 623, 724, 727, 2902, 2905, 3501, 3504, 12501, 15001, 15105, 15606, 15703, 25203, 25205, 25302, 25502, 25503, 26203, 26301, 26302, 26401, 26602, 27202, 29302, 29601, 29603, 31503, 40801, 55302, 56802, 60501, 60703, 64003, 69201], '726': [259, 340, 473, 504, 538, 564, 607, 615, 616, 724, 726, 290, 324, 2904, 14804, 15001, 15002, 15501, 15601, 16904, 16907, 25203, 25702, 26301, 26501, 26702, 29403, 29601, 29701, 29702, 31002, 32403, 33702, 40801, 44801, 51201, 54802, 55302], '727': [29, 148, 265, 298, 310, 564, 623, 644, 727, 497, 2906, 3504, 14802, 15102, 15203, 15502, 25403, 26202, 26501, 26502, 26601, 31001, 31003, 31503, 40801, 40803, 44801, 49701, 49702, 49703, 56803, 60701, 60703, 61503, 61901, 64001, 69202, 70301, 74002], '728': [148, 150, 253, 257, 473, 504, 548, 581, 615, 727, 728, 2906, 12502, 1500

In [7]:
result2 = {}

df2 = label.copy()
# Iterate through columns (excluding 'id')
for col in df2.columns:
    if col != 'id':
        # Get indices where the value is 1
        indices_with_one = df2[df2[col] == 1].index

        # Append corresponding 'id' values to the result dictionary
        result2[col] = df2.loc[indices_with_one, 'id'].tolist()

print(result2)

{'29': [29, 148, 255, 2901, 2902, 2903, 2904, 2905, 2906, 14801, 14802, 14803, 14804, 14805, 25501, 25502, 25503, 25504], '35': [35, 3501, 3502, 3503, 3504], '125': [125, 12501, 12502, 12503, 12504], '148': [29, 148, 255, 2901, 2902, 2903, 2904, 2905, 2906, 14801, 14802, 14803, 14804, 14805, 25501, 25502, 25503, 25504], '149': [149, 14901, 14902, 14903, 14904], '150': [150, 15001, 15002, 15003, 15004], '151': [151, 448, 623, 15101, 15102, 15103, 15104, 15105, 15106, 44801, 44802], '152': [152, 15201, 15202, 15205, 15206], '154': [154, 15401, 15402, 15403], '157': [157, 15701, 15702, 15703, 15704, 15705, 15706, 15707], '169': [169, 16901, 16902, 16903, 16904, 16905, 16906, 16907], '252': [252, 25201, 25202, 25203, 25204, 25205, 25206, 25207], '253': [253, 25301, 25302, 25303, 25304, 25305], '254': [254, 25401, 25402, 25403, 25404], '255': [29, 148, 255, 2901, 2902, 2903, 2904, 2905, 2906, 14801, 14802, 14803, 14804, 14805, 25501, 25502, 25503, 25504], '257': [257, 25701, 25702, 25703], '258': [258, 25801, 25802, 25803], '259': [259, 25901, 25902, 25903, 29401, 29402, 29403, 29901, 29902, 29903], '261': [261, 26101, 26102, 26103], '262': [262, 266, 296, 26201, 26202, 26203, 26601, 26602, 26603, 29601, 29602, 29603], '263': [263, 292, 521, 536, 568, 581, 587, 607, 657, 659, 669, 746, 26301, 26302, 26303, 29201, 29202, 29203, 52101, 52102, 56801, 56802, 56803, 58101, 58102, 60701, 60702, 60703, 65701], '264': [264, 553, 26401, 26402, 26403, 55301, 55302, 55303], '265': [264, 265, 553, 156, 15601, 15602, 15603, 15604, 15605, 15606, 15607, 26401, 26402, 26403, 26501, 26502, 26503, 55301, 55302, 55303], '266': [262, 266, 296, 26201, 26202, 26203, 26601, 26602, 26603, 29601, 29602, 29603], '267': [267, 26701, 26702, 26703], '272': [272, 27201, 27202, 27203], '292': [263, 292, 568, 607, 26301, 26302, 26303, 29201, 29202, 29203, 56801, 56802, 56803, 60701, 60702, 60703], '293': [293, 29301, 29302], '294': [259, 294, 25901, 25902, 29401, 29402, 29403, 29901, 29902, 29903], '296': [262, 266, 296, 26201, 26202, 26203, 26601, 26602, 26603], '297': [297, 29701, 29702, 29703], '298': [298], '299': [299, 25901, 25902, 25903, 29401, 29402, 29403, 29901, 29902, 29903], '310': [310, 31001, 31002, 31003], '314': [314, 31401, 31402], '315': [315, 31501, 31502, 31503], '337': [337, 33701, 33702, 33703], '340': [340, 34001, 34002, 34003], '408': [408, 564, 726, 40801, 40802], '448': [448, 623, 44801, 44802], '504': [473, 504, 47301, 47302], '512': [512, 51201], '521': [521, 536, 52101, 52102], '536': [521, 536, 746, 52101, 52102], '538': [538], '548': [548], '553': [264, 265, 553, 156, 318, 15601, 15602, 15603, 15604, 15605, 15606, 15607, 26401, 26402, 26403, 26501, 26502, 26503, 31801, 31802, 31803, 55301, 55302, 55303], '564': [408, 564, 726, 40801, 40802], '568': [263, 292, 521, 536, 568, 581, 587, 607, 657, 659, 669, 746, 26301, 26302, 26303, 29201, 29202, 29203, 52101, 52102, 56801, 56802, 56803, 58101, 58102, 60701, 60702, 60703, 65701], '581': [263, 292, 512, 521, 536, 568, 581, 587, 607, 657, 659, 669, 746, 26301, 26302, 26303, 29201, 29202, 29203, 51201, 52101, 52102, 56801, 56802, 56803, 58101, 58102, 60701, 60702, 60703, 65701], '587': [521, 581, 587, 52101, 52102, 58101, 58102], '605': [605, 724, 60501, 60502, 60503], '607': [263, 292, 521, 536, 568, 581, 587, 607, 657, 659, 669, 746, 26301, 26302, 26303, 29201, 29202, 29203, 52101, 52102, 56801, 56802, 56803, 58101, 58102, 60701, 60702, 60703, 65701], '615': [615, 61501, 61502], '616': [263, 292, 512, 521, 536, 568, 581, 587, 607, 615, 616, 657, 659, 669, 746, 26301, 26302, 26303, 29201, 29202, 29203, 51201, 52101, 52102, 56801, 56802, 56803, 58101, 58102, 60701, 60702, 60703, 61501, 61502, 61503, 61601, 61602, 61603, 65701], '619': [619, 701, 61901, 61902, 61903], '623': [448, 623, 44801, 44802], '640': [640, 64001, 64002, 64003], '644': [644, 732], '648': [263, 292, 512, 521, 536, 568, 581, 587, 607, 648, 657, 659, 669, 746, 26301, 26302, 26303, 29201, 29202, 29203, 51201, 52101, 52102, 56801, 56802, 56803, 58101, 58102, 60701, 60702, 60703, 65701], '657': [292, 521, 536, 568, 581, 587, 607, 615, 616, 657, 659, 669, 746, 29201, 29202, 29203, 52101, 52102, 56801, 56802, 56803, 58101, 58102, 60701, 60702, 60703, 61501, 61502, 61503, 61601, 61602, 61603, 65701], '658': [262, 264, 265, 266, 296, 297, 553, 156, 318, 15601, 15602, 15603, 15604, 15605, 15606, 15607, 26201, 26202, 26203, 26401, 26402, 26403, 26501, 26502, 26503, 26601, 26602, 29601, 29602, 29603, 29701, 29702, 29703, 31801, 31802, 31803, 55301, 55302, 55303], '659': [263, 292, 512, 521, 536, 568, 581, 587, 607, 648, 657, 659, 669, 746, 26301, 26302, 26303, 29201, 29202, 29203, 51201, 52101, 52102, 56801, 56802, 56803, 58101, 58102, 60701, 60702, 60703, 65701], '669': [263, 292, 512, 521, 536, 568, 581, 587, 607, 657, 659, 669, 746, 26301, 26302, 26303, 29201, 29202, 29203, 51201, 52101, 52102, 56801, 56802, 56803, 58101, 58102, 60701, 60702, 60703, 65701], '677': [677], '692': [692, 69201, 69202, 69203], '701': [619, 701, 61901, 61902, 61903], '703': [703, 70301, 70302, 70303], '724': [605, 724, 60501, 60502, 60503], '726': [408, 564, 726, 40801, 40802], '727': [727, 497, 49701, 49702, 49703], '728': [473, 504, 728, 47301, 47302], '732': [644, 732], '740': [740, 74001, 74002, 74003], '746': [536, 746], '155': [155, 15501, 15502, 15503], '156': [156, 15601, 15602, 15603, 15604, 15605, 15606, 15607], '290': [290, 29001, 29002, 29003], '318': [318, 31801, 31802, 31803], '324': [324, 32401, 32402, 32403], '497': [727, 497, 49701, 49702, 49703]}

In [8]:
accuracy_data = []

for key in result2:  # Iterate through keys in the label dictionary (result2)
    label_values = set(result2[key])
    predict_values = set(result[key])  # Ensure we handle potential duplicates

    common_values = label_values.intersection(predict_values)
    accuracy = len(common_values) / len(label_values) if len(label_values) > 0 else 0

    accuracy_data.append({'Key': key, 'Accuracy': accuracy})

accuracy_df = pd.DataFrame(accuracy_data)
print(accuracy_df)

    Key  Accuracy
0    29  0.055556
1    35  0.200000
2   125  0.200000
3   148  0.055556
4   149  0.200000
..  ...       ...
76  156  0.125000
77  290  0.250000
78  318  0.000000
79  324  0.000000
80  497  0.200000

[81 rows x 2 columns]

In [11]:
accuracy_data = []

for key in result2:
    label_values = set(result2[key])
    predict_values = set(result[key])
   
    # Calculate true positives (common values)
    true_positives = label_values.intersection(predict_values)

    # Calculate false positives (predicted but not in labels)
    false_positives = predict_values - label_values
    if (len(true_positives) + len(false_positives)) == 0 and len(label_values) != 0:
        accuracy = 0
    else:
        accuracy = len(true_positives) / (len(true_positives) + len(false_positives)) if len(label_values) > 0 else 0
    false_positive_rate = len(false_positives) / len(label_values) if len(label_values) > 0 else 0

    accuracy_data.append({
        'Key': key, 
        'Accuracy': accuracy, 
        'False Positive Rate': false_positive_rate
    })

accuracy_df = pd.DataFrame(accuracy_data)

In [12]:
accuracy_df

    Key  Accuracy  False Positive Rate
0    29       1.0                  0.0
1    35       1.0                  0.0
2   125       1.0                  0.0
3   148       1.0                  0.0
4   149       1.0                  0.0
..  ...       ...                  ...
76  156       1.0                  0.0
77  290       1.0                  0.0
78  318       0.0                  0.0
79  324       0.0                  0.0
80  497       1.0                  0.0

[81 rows x 3 columns]

In [13]:
accuracy_df['Accuracy'].mean()

0.7283950617283951

In [ ]:
class matrix_evaluation:
    def __init__(self, label_df, predict_df):
        self.label = label_df
        self.predict_df = predict_df
    #this use for the matrix 293x81
    def extracting_data_verticle(self):
        result = {}
        df = self.predict_df.copy()
        # Iterate through columns (excluding 'id')
        for col in df.columns:
            if col != 'id':
                # Get indices where the value is 1
                indices_with_one = df[df[col] == 1].index
                # Append corresponding 'id' values to the result dictionary
            
                result[col] = df.loc[indices_with_one, 'id'].tolist()
                
        result2 = {}
        df2 = label.copy()
        # Iterate through columns (excluding 'id')
        for col in df2.columns:
            if col != 'id':
                # Get indices where the value is 1
                indices_with_one = df2[df2[col] == 1].index

                # Append corresponding 'id' values to the result dictionary
                result2[col] = df2.loc[indices_with_one, 'id'].tolist()
        
        return result, result2
    
    # this use for the matrix 81x293
    def extracting_data_horizontal(self):
        df = self.predict_df.copy()
        result= {}

        for index, row in df.iterrows():
            key = str(int(row['id']))
            result[key] = []
            for col_name in df.columns:
                #if col_name != 'id' and row[col_name] == 1:
                if col_name != 'id' and row[col_name] >= 0.5:
                    result[key].append(int(col_name))

        result2 = {}
        df2 = label.copy()
        # Iterate through columns (excluding 'id')
        for col in df2.columns:
            if col != 'id':
                # Get indices where the value is 1
                indices_with_one = df2[df2[col] == 1].index

                # Append corresponding 'id' values to the result dictionary
                result2[col] = df2.loc[indices_with_one, 'id'].tolist()
        
        return result, result2
    
    def check_relevant_retrieve(self, result, result2, type = 2):
        if type ==2:
            result, result2 = self.extracting_data_horizontal()
        else:
            result, result2 = self.extracting_data_verticle()
        accuracy_data = []

        for key in result2:  # Iterate through keys in the label dictionary (result2)
            label_values = set(result2[key])
            predict_values = set(result[key])  # Ensure we handle potential duplicates

            common_values = label_values.intersection(predict_values)
            accuracy = len(common_values) / len(label_values) if len(label_values) > 0 else 0

            accuracy_data.append({'Key': key, 'Accuracy': accuracy})

        accuracy_df = pd.DataFrame(accuracy_data)
        print(accuracy_df['Accuracy'].mean())
        return accuracy_df
    
    def check_precision(self, result, result2, type == 2):
       
        if type ==2:
            result, result2 = self.extracting_data_horizontal()
        else:
            result, result2 = self.extracting_data_verticle()
        accuracy_data = []
        for key in result2:
            label_values = set(result2[key])
            predict_values = set(result[key])
        
            # Calculate true positives (common values)
            true_positives = label_values.intersection(predict_values)

            # Calculate false positives (predicted but not in labels)
            false_positives = predict_values - label_values
            if (len(true_positives) + len(false_positives)) == 0 and len(label_values) != 0:
                accuracy = 0
            else:
                accuracy = len(true_positives) / (len(true_positives) + len(false_positives)) if len(label_values) > 0 else 0
            false_positive_rate = len(false_positives) / len(label_values) if len(label_values) > 0 else 0

            accuracy_data.append({
                'Key': key, 
                'Accuracy': accuracy, 
                'False Positive Rate': false_positive_rate
            })

        accuracy_df = pd.DataFrame(accuracy_data)
        print(accuracy_df['Accuracy'].mean())
        return accuracy_df

In [219]:
flan_result = pd.read_csv(r"D:\User_2\Downloads\LLM_Final.csv")

In [258]:
duppricator = pd.read_csv(r"D:\User_2\Downloads\rank_traditional_method (2).csv")

In [4]:
mfae = pd.read_csv(r"D:\User_2\Downloads\MFAE.csv")

In [5]:
qra_result = pd.read_csv(r"D:\User_2\Downloads\QRA_result.csv")

In [205]:
for col_name in flan_result.columns:
    if type(col_name) == str:
        print(col_name)

id
29
35
125
148
149
150
151
152
154
157
169
252
253
254
255
257
258
259
261
262
263
264
265
266
267
272
292
293
294
296
297
298
299
310
314
315
337
340
408
448
473
504
512
521
536
538
548
553
564
568
581
587
605
607
615
616
619
623
640
644
648
657
658
659
669
677
692
701
703
724
726
727
728
732
740
746
155
156
290
314.1
318
324
497
2901
2902
2903
2904
2905
2906
2907
3501
3502
3503
3504
12501
12502
12503
12504
14801
14802
14803
14804
14805
14901
14902
14903
14904
15001
15002
15003
15004
15101
15102
15103
15104
15105
15106
15201
15202
15203
15204
15205
15206
15401
15402
15403
15501
15502
15503
15601
15602
15603
15604
15605
15606
15607
15701
15702
15703
15704
15705
15706
15707
16901
16902
16903
16904
16905
16906
16907
25201
25202
25203
25204
25205
25206
25207
25301
25302
25303
25304
25305
25401
25402
25403
25404
25501
25502
25503
25504
25701
25702
25703
25801
25802
25803
25901
25902
25903
26101
26102
26103
26201
26202
26203
26301
26302
26303
26401
26402
26403
26501
26502
26503
26601
26602
26603
26701
26702
26703
27201
27202
27203
29001
29002
29003
29201
29202
29203
29301
29302
29401
29402
29403
29601
29602
29603
29701
29702
29703
29901
29902
29903
31001
31002
31003
31401
31402
31501
31502
31503
31801
31802
31803
32401
32402
32403
33701
33702
33703
34001
34002
34003
40801
40802
40803
44801
44802
47301
47302
49701
49702
49703
51201
52101
52102
54801
54802
55301
55302
55303
56801
56802
56803
58101
58102
60501
60502
60503
60701
60702
60703
61501
61502
61503
61601
61602
61603
61901
61902
61903
64001
64002
64003
65701
69201
69202
69203
70301
70302
70303
74001
74002
74003

In [175]:
question_data3 = pd.read_csv('data\question_data3.csv')

In [177]:
question_data3

,id,question_content,ans,difficulty,learning_outcome,subchapters,paragraph,instruction,spatial_matrix
0,29,What is the correct way to create a function i...,['B. def myFunction():'],NaN,NaN,['4.6'],"{""id"":""29"",""question"":""What is the correct way...","""The correct way to create a function in Pytho...","[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,..."
1,35,Which of the following statements best describ...,['C. shuffle the elements of the list in-place.'],NaN,NaN,"['4.5', '8.1']","{""id"":""35"",""question"":""Which of the following ...","""The code first import random library to use '...","[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,..."
2,125,What value be in the variable x when the follo...,['C'],NaN,NaN,['4.3'],"{""id"":""125"",""question"":""What value be in the v...","""When the statement 'x=int(98.6)' is executed,...","[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,..."
3,148,Which Python keyword indicates the start of a ...,['D. def'],NaN,NaN,['4.6'],"{""id"":""148"",""question"":""Which Python keyword i...","""The Python keyword indicates the start of a f...","[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,..."
4,149,"In Python, how do you indicate the end of the ...",['B. You de-indent a line of code to the same ...,NaN,NaN,['4.6'],"{""id"":""149"",""question"":""In Python, how do you ...","""In Python, to indicate the end of the block o...","[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,..."
...,...,...,...,...,...,...,...,...,...
77,290,"myList = [lambda x: x ** 2, lambda x: x ** 3, ...",['C. 9 27 81'],NaN,NaN,"['1.4', '2.2', '2.5', '5.6.1', '8.1']","{""id"":""290"",""question"":""myList = [lambda x: x ...","""The code defines a list 'myList' containing t...","[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,..."
78,314,What is the ouput of the following code snippe...,['A. f2 f3 f1'],NaN,NaN,"['1.4', '4.6']","{""id"":""314"",""question"":""What is the ouput of t...","""The code defines three functions: 'f1', 'f2',...","[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,..."
79,318,What is the output of the following code snipp...,['B. ********* ***'],NaN,NaN,"['1.4', '2.2', '2.5', '4.6']","{""id"":""318"",""question"":""What is the output of ...","""The code initializes a global variable 'p' wi...","[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,..."
80,324,What is the output of the following code snipp...,['B. The loop goes to an infinite loop until m...,NaN,NaN,"['1.4', '2.5', '3.4', '4.6', '4.9']","{""id"":""324"",""question"":""What is the output of ...","""The code defines a recursive function 'f' tha...","[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,..."
81,497,Which of the following is the correct syntax t...,"['def fun(*vals): for i in vals: print(i,end=""...",NaN,NaN,"['1.4', '4.6', '5.4']","{""id"":""497"",""question"":""Which of the following...","""The correct syntax to define a Python functio...","[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,..."

In [178]:
question_data3 = question_data3.drop_duplicates(subset='id')

In [264]:
label

,id,29,35,125,148,149,150,151,152,154,...,728,732,740,746,155,156,290,318,324,497
0,29,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,35,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,125,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,148,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,149,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
288,70302,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
289,70303,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
290,74001,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
291,74002,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
292,74003,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [265]:
flan_result

,id,29,35,125,148,149,150,151,152,154,...,65701,69201,69202,69203,70301,70302,70303,74001,74002,74003
0,29,1,1,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,35,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,125,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,148,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,149,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,156,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
77,290,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
78,318,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
79,324,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
80,497,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0